*{
	margin : 0;
	padding: 0;
}
body{
	font-family: arial;
	background-color: #ddd;
	line-height: 1.65;
	display: flex;
	background-image: url(background.png);
}
.container{
	height: 100%;
	width: 800px;
	align-items: center;
	margin: auto;
	justify-content: center;


}
.input{
	display: block;
  	width: 100%;
  	min-height: 50px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	margin-bottom: 10px;
	
}
.input-data{
	display: block;
  	width: 95%;
  	min-height: 20px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	margin-bottom: 10px;
	
}
.input-jk{
	display: block;
  	width: 95%;
  	min-height: 20px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	margin-bottom: 10px;
	
}
